p {
    font-size: 15px;
    color:red;
    font-family: Arial, Helvetica, sans-serif;
}
ul {
    background-color: #375056;
}
body{
    color:#ffffff;
    background-color: lightslategrey;
}
p a:link,p a:visited {
    
    font-family: "Audiowide", sans-serif;
    text-decoration: none;
    
}

p a:hover {
    font-family: "Audiowide", sans-serif;
    text-decoration: underline;
   
    
}

#riquadro-contatti {
    background-color: #375056;
}
#riquadro-contatti .contatti {
    border-left: green 5px solid;
    list-style: none;
    margin-bottom: 15px;
}
ul li a {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
